<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bus Poll Admin Panel</title>
  <link rel="stylesheet" href="/stylesheets/admin_style.css">
</head>

<body>

  <header class="header">
    <div class="logo">I.N.S.P.I.R.E</div>
    <a href="/logout" class="logout">Logout</a>
  </header>
  <% if(poll_result=="") { %>
  <!-- Poll Creation Form -->
  <section class="poll-container">
    <h2>Create Poll</h2>
    <form action="/create_poll" method="post">
      <input type="text" name="p_describe" placeholder="Poll description" required>
      <input type="text" name="option1_name" placeholder="Option 1" required>
      <input type="text" name="option2_name" placeholder="Option 2" required>
      <input type="text" name="option3_name" placeholder="Option 3">
      <input type="text" name="option4_name" placeholder="Option 4">
      <input type="text" name="option5_name" placeholder="Option 5">
      <input class="button create-button" type="submit" value="Create Poll">
    </form>
  </section>
  <% } else { %>
   <!-- Poll Result bar -->
   <section class="poll-container">
    <h2>Poll Analyists</h2>
      <div>Poll Description :- <%= poll_result.p_describe%></div>
      <div><%= poll_result.option1_name%> :- <%= poll_result.option1%></div>
      <div><%= poll_result.option2_name%> :- <%= poll_result.option2%></div>
      <div><%= poll_result.option3_name%> :- <%= poll_result.option3%></div>
      <div><%= poll_result.option4_name%> :- <%= poll_result.option4%></div>
      <div><%= poll_result.option5_name%> :- <%= poll_result.option5%></div>
  </section>
  <% } %>

  <!-- Stop Poll Button -->
  <section class="button-container">
    <a href="/stop_poll" class="button stop-button">Stop Poll</a>
  </section>

  <!-- User Table -->
  <section class="table-container">
    <div class="table-header">
      <div class="table-header-cell">BT id</div>
      <div class="table-header-cell">Name</div>
      <div class="table-header-cell">Email</div>
      <div class="table-header-cell">Approve</div>
      <div class="table-header-cell">Delete</div>
    </div>

    <!-- Table Rows - Loop through users -->
    <% user.forEach((userInfo)=> { %>
      <div class="table-row">
        <div class="table-cell"><%= userInfo.btid %></div>
        <div class="table-cell"><%= userInfo.name %></div>
        <div class="table-cell"><%= userInfo.email %></div>
        <div class="table-cell"><button class="approve-button">Approve</button></div>
        <div class="table-cell"><button class="delete-button">Delete</button></div>
      </div>
    <% }); %>
  </section>

</body>

</html>
