<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poll Form</title>
    <link rel="stylesheet" href="/stylesheets/poll_style.css">
</head>

<body>
    <div class="container">
        <!-- Navbar Section -->
        <header>
            <div class="logo">
                <h1>I.N.S.P.I.R.E</h1>
            </div>
            <div class="logout">
                <a href="/logout">Logout</a>
            </div>
        </header>

        <!-- Main Poll Content -->
        <main>
            <% if(valid==1) { %>
                <% if(latestPollEntry.visibility == "1") { %>
                    <div class="poll-form">
                        <div class="poll-about">
                            <h2><%= latestPollEntry.p_describe %></h2>
                            <p>Select your preferred option for the next bus schedule:</p>
                        </div>
                        <form id="pollForm" action="/poll" method="post">
                            <label>
                                <input type="radio" name="pollOption" value="option1"> <%= latestPollEntry.option1_name %>
                            </label>
                            <label>
                                <input type="radio" name="pollOption" value="option2"> <%= latestPollEntry.option2_name %>
                            </label>
                            <label>
                                <input type="radio" name="pollOption" value="option3"> <%= latestPollEntry.option3_name %>
                            </label>
                            <label>
                                <input type="radio" name="pollOption" value="option4"> <%= latestPollEntry.option4_name %>
                            </label>
                            <label>
                                <input type="radio" name="pollOption" value="option5"> <%= latestPollEntry.option5_name %>
                            </label>
                            <button type="submit">Submit</button>
                        </form>
                    </div>
                <% } else { %>
                    <div>
                        <h1>Poll has been closed or not yet created</h1>
                    </div>
                <% } %>
            <% } else { %>
                <div>
                    <h1>Wait for Admin approval to use services....</h1>
                </div>
            <% } %>
        </main>
    </div>
</body>

</html>
